<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="css/styles.css" rel="stylesheet"> -->
        <link href="css/register.css" rel="stylesheet">

        <title>registro usuarios</title>

    </head>
    <body>
        <form action="/home" method="POST">
       
            <label for="usuario">Usuario: </label>
            <input type="email" name="usuario" id="usuario">

            <label for="password">Digite su contraseña: </label>
            <input type="password" name="password" value="password">

            <button type="submit">ENVIAR</button>

        </form>

    </body>
</html>