*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /*para que un elemento no rebase la cantidad de 100% aunque le aumentes el border y todo lo demas EL ASTERISCO hace que sea universal*/
img{
    width: 100%;
    height: 100%;
}
#logo{
    width: 200px;
    height: 100px;
}


.logo-buscador{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.buscador{
    margin-top: 20px;
    flex-grow: 1;
}
.logo{
    flex-grow: 1;
}

.sin-tarjeta{
    margin: 20px;
    text-align: center;
    font-size: 13px;
}

.banner{
    width: 100%;
    line-height: 0;
}
.lista-menu {
    display: none;
}

.comprar-cuotas, .registrar-ingresar{
    line-height: 20px;
    font-size: 12px;
}
.registrar-ingresar a, .comprar-cuotas a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #1259c3;
}
/* CUANDO LE DES CLICK SE VISUALICE DE COLOR ROJO */
a:active{
    color: orangered;
}
ul{
    padding-left: 0px;
    font-weight: bolder;
}
h3{
    font-size: 24px;
}
body{
    background-color: #EAC926;;
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: black;
    
}
.burger-menu{
    background: #1259c3;
    color:white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 25px;
}

.piePagina{
    font-size: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    line-height: 15px;
}
.contenedor-anuncios{
    margin-bottom: 20px;
}
ul#listaPie p{
    color:#666;
    font-weight: lighter;
    margin-left: 68px;
    margin-right: 68px;
}
ul#listaPie li{
    font-weight: bolder;
    color:#666 ;
    font-size: 14px;
}

.otra-clase{
    color:#1259c3;
    font-size: 2em; 
    margin-bottom: 15px;
}
.otra-clase:hover{
    color: blueviolet;
}

#copyright{
    text-align: left;
    font-size: 10px !important; 
}


main{
    font-size: 14px;
    width: 100%;
    background-color: rgb(224, 221, 221);
    padding-top: 15px;
}

.caja-imagen{
    width: 90vw;
    margin: auto;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}

.caja-precio{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    line-height: 10px;


}


.icono{
    border-radius: 50%;
    border: 1px solid rgb(13, 197, 13);
    color: rgb(13, 197, 13);
    padding: 10px;
    margin-top: 5px;
    position: relative;
    top: -26px;
    float: right;
}



.precio-descuento{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.precio{
    width: 50%;
}
.descuento{
    color:rgb(13, 197, 13);
    width: 50%;
}
.descripcion{
    display: none;
    margin-top: 15px;
}
.contenedor-cajas{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 361px){
    .burger-menu{
        display: block;
    }

    .caja-imagen{
        
        
        width: 45%;
        justify-content: space-between;
    }
    .caja-imagen:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: 2s;
    }
    .caja-imagen:hover .icono {
        transform: rotate(-270deg);
        transition: 2s;
    }
    .caja-imagen:hover .descripcion{
        display: block;
        transition: 2s;
    }
}

@media (min-width: 769px){

    .logo-buscador{
        display: flex;
        justify-content: space-around;
    }
    .burger-menu{
        display: none;
    }
    .caja-imagen{
        width: 23%;
        justify-content: space-between;
    }
    .lista-menu {
        display: flex;
    
    }
    .registrar-ingresar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        
    }
    .registrar-ingresar ul {
        display: flex;
    }
    .registrar-ingresar li{
        margin: 20px;

    }
    .comprar-cuotas{
        display:flex;
        flex-grow: 1;
        justify-content: flex-start;
    }
    .comprar-cuotas ul {
        display: flex;
    }
    .comprar-cuotas li {
        margin: 20px;

    }
}
    
    


